
body{
  font-family: Roboto Condesed, Arial narrow, sans-serif


}
h1{
  text-align: center;
}

h2{
  color: rgb(0, 125, 188);
  margin-left: 4.5%;
  margin-top: 2%;
}

p{
  font-weight: bold;
  font-size: 1.1em;
  margin-left: 4%;
  padding: 0.7%;
  margin-bottom: 30px;
}

.btn{
  display: block;
  margin: auto;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 125, 188);
  border-radius: 10%;
  border:1px
  width:10%;
}
